<div class="d-flex justify-content-center">
<h2>Sign Up</h2>
</div>
<div class="d-flex justify-content-center">
  <%= form_with model: @user, url: sign_up_path  do |form| %>
    <%= render partial: "shared/error", locals: { form: form } %>
    <div class="mb-2">
      <%= form.label :email%>
      <%= form.text_field :email, class: "form-control", placeholder: "abc@xyz.com" %>
    </div>
    <div class="mb-2">
    <%= form.label :password%>
      <%= form.password_field :password, class: "form-control", placeholder: "Password"%>
    </div>
    <div class="mb-2">
    <%= form.label :password_confirmation%>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"%>
    </div>
    <div class="mb-2">
      <%= form.label :first_name%>
      <%= form.text_field :first_name, class: "form-control", placeholder: "Your First Name"%>
    </div>
    <div class="mb-2">
      <%= form.label :last_name%>
      <%= form.text_field :last_name, class: "form-control", placeholder: "Your Last Name" %>
    </div>
    <div class="mb-2">
      <%= form.label :mobile%>
      <%= form.text_field :mobile, class: "form-control", placeholder: "Mobile No." %>
    </div>
    <div class="mb-2">
      <%= form.submit "Sign Up", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

