<% if Current.user %>
  <div class="row">
    <% @products.each do |product| %>
      <ul class="col-md-4">
        <div>
          <div class="card mt-5" style="width: 18rem;">
            <%= link_to product_path(product.id), class: "text-decoration-none" do %>
              <table class="table table-hover table-striped table-dark">
                <tr>
                  <td>  Product </td>
                  <td> <%= product.name %></td>
                </tr>
                <tr>
                  <td>  Product description:</td>
                  <td> <%= product.description%></td>
                </tr>
                <tr>
                  <td> Price</td>
                  <td> <%= product.price %></td>
                </tr>
                <tr>
                  <td> Stock</td>
                  <td> <%= product.stock %></td>
                </tr>
                <tr>
                  <td> Product Category</td>
                  <td> <%= product.category.category_name%></td>
                </tr>
              </table>
            <% end %>
            <div class= "d-flex justify-content-between  m-3">
              <%= button_to "Buy Now", buy_now_path(product_id: product.id), class: "btn btn-info" %>
              <% if cart_item?(product.id) %>
                <%= button_to "Remove from cart", product_cart_item_path(Current.cart.cart_items.ids, product.id), method: :delete, remote: true, class: "btn btn-danger"%>
              <% else %>
                <%= link_to "Add to Cart", product_cart_items_path(product.id), method: :post, class: "btn btn-warning  " %>
              <% end %>
            </div>
          </div>
        </div>  
      </ul>
    <% end %>
  </div>
<% else %>
  <div>
    New User?
    <%= link_to "Sign Up", sign_up_path %>
  </div>
  
  <div>
    Already have an accout
    <%= link_to "login", sign_in_path %>
  </div>  
<% end %>


