
<div class = "d-flex justify-content-end mt-2">
  <%if Current.user.addresses.present?%>
    <%= form_with url: orders_path, method: :post do |form| %>
      <%= form.hidden_field :product_id, value: @product.id%>
      <%= form.hidden_field :order_type, value: :buy_now%>
      <div class="mb-2">
        <%= form.label :address, "Select Address"%>
        <%= form.select :address, options_for_select(address_cancatination), class: "form-select"%>
      </div>
      <%= form.submit "Place Order", class: "btn btn-success log" %>
      <%= link_to "Add Address", new_user_address_path(Current.user.id), class: "btn btn-success float-right ml-2" %>
    <% end %>
  <%else%>
    <%= link_to "Add Address", new_user_address_path(Current.user.id), class: "btn btn-success float-right ml-2" %>
  <% end %>
</div>

<div class="row">
  <ul class="col-md-4">
    <div>
      <div class="card mt-5" style="width: 18rem;">
        <%= link_to product_path(@product.id), class: "text-decoration-none" do %>
          <table class="table table-hover table-striped table-dark">
            <tr>
              <td>  Product </td>
              <td> <%= @product.name %></td>
            </tr>
            <tr>
              <td>  Product description:</td>
              <td> <%= @product.description%></td>
            </tr>
            <tr>
              <td> Price</td>
              <td> <%=  number_to_currency(@product.price) %></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>  
  </ul>
</div>



