<div class="split right">
  <div class="centered">
    <div style="color:green;">Total order value will- <%= number_to_currency(total_cart_price(@cart_items)) %></div>

    <%# <% if Current.cart.cart_items.count > 0 %>
      <div class = "d-flex justify-content-end mt-2">
        <%= form_with url: orders_path, method: :post do |form| %>
          <div class="mb-2">
            <%= form.label :address, "Select Address"%>
            <%= form.select :address, options_for_select(address_cancatination)  %>
          </div>
          <%= form.submit "Place Order", class: "btn btn-success log" %>
        <% end %>
      </div>
    <%# <% end %>
  </div>
</div>

<div class="split left">
  <div class="centered">    
    <div class="row">
    <% @cart_items.each do |cart_item| %>
      <% product = cart_item.product %>
      <ul class="col-md-4">
        <div>
          <div class="card mt-5" style="width: 18rem;">
            <%= link_to product_path(product.id), class: "text-decoration-none" do %>
              <table class="table table-hover table-striped table-dark">
                <tr>
                  <td>  Product </td>
                  <td> <%= product.name %></td>
                </tr>
                <tr>
                  <td>  Product description:</td>
                  <td> <%= product.description%></td>
                </tr>
                <tr>
                  <td> Price</td>
                  <td> <%=  number_to_currency(product.price) %></td>
                </tr>
                <tr>
                  <td> Product Category</td>
                  <td> <%= product.category.category_name%></td>
                </tr>
                <tr>
                  <td> Item Quantity</td>
                  <td> <%= cart_item.quantity%></td>
                </tr>
              </table>
            <% end %>
            <div class= "d-flex justify-content-center  m-3">
              <%= button_to "Remove from cart", product_cart_item_path(Current.cart.cart_items.ids, product.id), method: :delete, remote: true, class: "btn btn-danger"%>
            </div>
          </div>
        </div>  
      </ul>
    <%end%>
    </div>
  </div>
</div>
