<h2>Order ID- <%= @order.id%></h2>
<div class="row">
  <% @order.order_items.each do |order_item|%>
    <ul class="col-md-4">
      <div>
        <div class="card mt-5" style="width: 18rem;">
          <table class="table table-hover table-striped table-dark">
            <tr>
              <td> Product Name </td>
              <td> <%= order_item.product.name %></td>
            </tr>
            <tr>
              <td>  Product description:</td>
              <td> <%= order_item.product.description%></td>
            </tr>
            <tr>
              <td> Price: </td>
              <td> <%=order_item.price %></td>
            </tr>
            <tr>
              <td> Quantity: </td>
              <td> <%=order_item.quantity %></td>
            </tr>
          </table>
        </div>
      </div>
    </ul>
  <% end %>
</div>
