<% if Current.cart.cart_items.count > 0 %>
  <div class = "d-flex justify-content-end mt-2">
    <%= link_to "Continue with order", new_order_path, class: "btn btn-success"%>
  </div>
<% end %>

<h2>Your Cart</h2>

<% if @cart_items.empty?%>
  <h4 style="color:red;">Cart Empty</h4>
<% else%>
  <div><h4 style="color:red;">
    <span id = 'place_holder'></span>
    <span id = 'Cart_value'><%=Current.cart.total_cart_value%></span>
  </h4>
  </div>
<% end %>
<div class="row">
  <% @cart_items.each do |cart_item| %>
    <% product = cart_item.product %>
      <ul class="col-md-4", id = 'remove_from_cart<%= cart_item.id %>'>
      <div>
        <div class="card mt-5" style="width: 18rem;">
          <%= link_to product_path(product.id), class: "text-decoration-none" do %>
            <table class="table table-hover table-striped table-danger">
              <tr>
                <td>  Product </td>
                <td> <%= product.name %></td>
              </tr>
              <tr>
                <td>  Product description:</td>
                <td> <%= product.description%></td>
              </tr>
              <tr>
                <td> Price</td>
                <td> <%=  (product.price) %></td>
              </tr>
              <tr>
                <td> Stock</td>
                <td> <%= product.stock %></td>
              </tr>
              <tr>
                <td> Product Category</td>
                <td> <%= product.category.category_name%></td>
              </tr>
              <tr>
                <td> Item Quantity</td>
                <td id= "quantity<%=cart_item.id%>"> <%= cart_item.quantity %> </td>
              </tr>
            </table>
          <% end %>
          <%= form_for cart_item, url: product_cart_item_path(product.id, cart_item.id), remote: true, authenticity_token: true, id: 'quan' do |f| %>
            <%= f.range_field :quantity, min: 1, max: 5, step: 1, class: "slide", id: "slider1"%>
            <%= (cart_item.total_price) %><br>
            <%= f.submit "Update quantity"%>
          <% end %>
          <div class= "d-flex justify-content-between  m-3">
            <%# <%= button_to "Remove from cart", product_cart_item_path(Current.cart.cart_items.ids, product.id), 
              method: :delete, remote: true, class: "btn btn-danger"%>
            
            <%= link_to('Remove from cart', [product, cart_item], 
              method: :delete, remote: true, class: "btn btn-danger") %>
          </div>
        </div>
      </div>  
    </ul>
  <%end%>
</div>

